
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>IPC - listado de datos</title>
{% endblock head_content %}

{% block container %}
<div class="container ">
  
</div>

          
  

<div class="div-table">
        
            

            <div class="table-responsive-sm">
               <h6 class="mb-0">Índice de Precios al Consumidor - Datos</h6>

               <table id="datatablesSimple">
                  <thead>
                     <tr>
                        <th>Año</th>
                        <th>Mes</th>
                        <th>Tipo valor</th>
                        <th>Mes anterior</th>
                        <th>Mes del año anterior</th>
                        <th>Diciembre del año anterior</th>
                     </tr>
                  </thead>
                  <tbody>
                     
                     {% for data in ipc %}
                     <tr>
                        <td>{{data.año}}</td>
                        <td>{{data.mes}}</td>
                        <td>{{data.tipo_valor}}</td>
                        <td>{{data.mes_anterior}}</td>
                        <td>{{data.mes_año_anterior}}</td>
                        <td>{{data.dic_año_anterior}}</td>
                     </tr>
                     {% endfor %}
                     
                       
                    
                     
                    
                    
                  </tbody>
                </table>
            </div>


          
    </div>
</div>

{% endblock container %}
