
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>IPC - listado de datos</title>

{% endblock head_content %}

{% block container %}
<div class="container ">

</div>

          
  

<div class="div-filter">
  <div>
    <h6 class="mb-0">Índice de Precios al Consumidor - variables interanual / intermensual (2024)</h6>
                 
    <div style= "width: 650px; margin: 35px auto" id="chartIpc"></div>
  </div>
  <h5 class="mb-0">Comparativa Índice de Precios al Consumidor (IPC)</h5>
  {{error}}
  <div id="div-select">
    <form method= "POST" action=" {% url 'ipc-panel' %}">
      {% csrf_token %}
      
      <select name="año" id="año">
        <option selected>Seleccionar año</option>
        {% for año in años  %}
          <option value="{{año.id}}">{{año.año}}</option>
        {% endfor %}
       
      </select>
      
      <div style= "width: 650px; margin: 35px auto" id="chartIpcHistorico"></div>
      <select name="tabla" id="tabla" >
        <option selected>Tablas disponibles</option>
       
          <option value="Remuneracion">Remuneracion - sector privado</option>
          <option value="Asalariados">Asalariados registrados - sector privado</option>
       
       
      </select>
      <button type="submit" id="btn" style=" margin-top: 1em;" class="btn btn-primary ms-2">Filtrar</button>
      
      <div style= "width: 650px; margin: 35px auto; " id="chartTabla"></div>
    </form>
    
  </div>
  
</div> 
<style>
  

#div-select{
  display: block;
  margin-top: 1em;
}
</style>

<script>
  

    
   
    meses_filtro = []
    meses_tabla = []

    function obtenerDatosActual(){
      let interanual_actual = [];
      let intermensual_actual = [];
      let meses_actual = []
    // Obtener datos interanuales
    {% for data in interanual %}
        interanual_actual.push({{ data.mes_anterior }});
        {% for mes in meses  %}
          {
            {% if data.mes == mes.id %}
              {
                meses_actual.push('{{mes.mes}}')
              }  
                
            {% endif %}

          }

                
                
        {% endfor %}
    {% endfor %}

    // Obtener datos intermensuales
    {% for data in intermensual %}
        intermensual_actual.push({{ data.mes_año_anterior }});
        
    {% endfor %}

    return [interanual_actual, intermensual_actual, meses_actual];
    }
 
   

    function obtenerDatosInteranualFiltro(){
      interanual = []
        
          {% for data in interanual_filtro  %}
              {
                interanual.push({{data.mes_anterior}}) 
              }

              {% for mes in meses  %}
                {
                  {% if data.mes == mes.id %}
                    {
                      meses_filtro.push('{{mes.mes}}')
                    }  
                
                  {% endif %}

                }

                
                
              {% endfor %}

                
               
    
          {% endfor %}
            
      return interanual
    }

    function obtenerDatosIntermensualFiltro(){
      
      intermensual = []
      {% for data in intermensual_filtro  %}
          {
            intermensual.push({{data.mes_año_anterior}}) 
            console.log({{data.mes_año_anterior}})
          }
         

      {% endfor %}
      
      return intermensual
    }

    function obtenerDatosInteranualTabla(){
      interanual = []
        
          {% for data in interanual_tabla %}
              {
                interanual.push({{data.interanual}}) 
              }

              {% for mes in meses  %}
                {
                  {% if data.mes == mes.id %}
                    {
                      meses_tabla.push('{{mes.mes}}')
                    }  
                
                  {% endif %}

                }

                
                
              {% endfor %}

                
               
    
          {% endfor %}
            
      return interanual
    }

    function obtenerDatosIntermensualTabla(){
      
      intermensual = []
      {% for data in intermensual_tabla  %}
          {
            intermensual.push({{data.intermensual}}) 
            
          }
         

      {% endfor %}
      
      return intermensual
    }

    
  ipc()
</script>
{% endblock container %}