
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>IPC - listado de datos</title>

{% endblock head_content %}

{% block container %}
<div class="container-fluid pt-4 px-4" style="margin-left:-10em;">
  <div class="row g-4">
      <div class="col-sm-12 col-xl-15">
          <div class="bg-light text-center rounded p-4">
              <div class="d-flex align-items-center justify-content-between mb-6">
                  <h6 class="mb-0">Índice de Precios al Consumidor - variables interanual / intermensual (2024)</h6>
                 
              </div>
              <div style= "width: 650px; margin: 35px auto" id="chartIpc"></div>
          </div>
      </div>
     
  </div>
  
</div>
<div id="div-filter">
  <h5 class="mb-0">Comparativa Índice de Precios al Consumidor (IPC)</h5>

  <div id="div-select">
    <form method= "POST" action=" {% url 'ipc-panel' %}">
      {% csrf_token %}
      
      <select name="año" id="año">
        <option selected>Seleccionar año</option>
        {% for año in años  %}
          <option value="{{año.id}}">{{año.año}}</option>
        {% endfor %}
       
      </select>
      <div style= "width: 650px; margin: 35px auto" id="chartIpcHistorico"></div>
      <select name="tabla" id="tabla" >
        <option selected>Tablas disponibles</option>
       
          <option value="Remuneracion">Remuneracion - sector privado</option>
          <option value="Asalariados">Asalariados registrados - sector privado</option>
       
       
      </select>
      <button type="submit" id="btn" style=" margin-top: 1em;" class="btn btn-primary ms-2">Filtrar</button>
      
      <div style= "width: 650px; margin: 35px auto; " id="chartTabla"></div>
    </form>
    
  </div>
</div> 
<style>
  #div-filter{
   margin-top: 5em;
   margin-left: -9em;
  
}

#div-select{
  display: block;
  margin-top: 1em;
}
</style>

<script>
  

    meses = []
    meses_filtro = []
    meses_tabla = []
    function obtenerDatosInteranualActual(){
      interanual_actual = []
        
          {% for data in interanual  %}
              {
                interanual_actual.push({{data.mes_anterior}}) 
              }

              {% for mes in meses  %}
                {
                  {% if data.mes == mes.id %}
                    {
                      meses.push('{{mes.mes}}')
                    }  
                
                  {% endif %}

                }

                
                
              {% endfor %}

                
               
    
          {% endfor %}
            
      return interanual_actual
    }

    
 
    function obtenerDatosIntermensualActual(){
      
      intermensual_actual = []
      {% for data in intermensual  %}
          {
            intermensual_actual.push({{data.mes_año_anterior}}) 
            console.log({{data.mes_año_anterior}})
          }
         

      {% endfor %}
      
      return intermensual_actual
    }

    function obtenerDatosInteranualFiltro(){
      interanual = []
        
          {% for data in interanual_filtro  %}
              {
                interanual.push({{data.mes_anterior}}) 
              }

              {% for mes in meses  %}
                {
                  {% if data.mes == mes.id %}
                    {
                      meses_filtro.push('{{mes.mes}}')
                    }  
                
                  {% endif %}

                }

                
                
              {% endfor %}

                
               
    
          {% endfor %}
            
      return interanual
    }

    function obtenerDatosIntermensualFiltro(){
      
      intermensual = []
      {% for data in intermensual_filtro  %}
          {
            intermensual.push({{data.mes_año_anterior}}) 
            console.log({{data.mes_año_anterior}})
          }
         

      {% endfor %}
      
      return intermensual
    }
    function obtenerDatosInteranualTabla(){
      interanual = []
        
          {% for data in interanual_tabla %}
              {
                interanual.push({{data.interanual}}) 
              }

              {% for mes in meses  %}
                {
                  {% if data.mes == mes.id %}
                    {
                      meses_tabla.push('{{mes.mes}}')
                    }  
                
                  {% endif %}

                }

                
                
              {% endfor %}

                
               
    
          {% endfor %}
            
      return interanual
    }

    function obtenerDatosIntermensualTabla(){
      
      intermensual = []
      {% for data in intermensual_tabla  %}
          {
            intermensual.push({{data.intermensual}}) 
            
          }
         

      {% endfor %}
      
      return intermensual
    }

    
  ipc()
</script>
{% endblock container %}