
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

    <title>IPC - listado de datos</title>

{% endblock head_content %}

{% block container %}
<div class="container-fluid pt-4 px-4" style="margin-left:-10em;">
  <div class="row g-4">
      <div class="col-sm-12 col-xl-15">
          <div class="bg-light text-center rounded p-4">
              <div class="d-flex align-items-center justify-content-between mb-6">
                  <h6 class="mb-0">IPC - variables interanual / intermensual (actualizados)</h6>
                 
              </div>
              <div style= "width: 650px; margin: 35px auto" id="chartIpc"></div>
          </div>
      </div>
     
  </div>
  
</div>
<div id="div-filter">
  <h6 class="mb-0">Comparativa</h6>
  <div id="div-select">
    <form method= "POST" action=" {% url 'ipc-panel' %}">
      {% csrf_token %}
      
      <select name="año">
        <option selected>Seleccionar año</option>
        {% for año in años  %}
          <option value="{{año.id}}">{{año.año}}</option>
        {% endfor %}
       
      </select>
      <button type="submit" class="btn btn-primary ms-2">Filtrar</button>
    </form>
    <div style= "width: 650px; margin: 35px auto" id="chartIpcHistorico"></div>
  </div>
</div> 
<style>
  #div-filter{
   margin-top: 5em;
   margin-left: -9em;
  
}

#div-select{
  display: block;
  margin-top: 1em;
}
</style>

<script>
   
    meses = []
    meses_filtro = []
    function obtenerDatosInteranualActual(){
      interanual_actual = []
        
          {% for data in interanual  %}
              {
                interanual_actual.push({{data.mes_anterior}}) 
              }

              {% for mes in meses  %}
                {
                  {% if data.mes == mes.id %}
                    {
                      meses.push('{{mes.mes}}')
                    }  
                
                  {% endif %}

                }

                
                
              {% endfor %}

                
               
    
          {% endfor %}
            
      return interanual_actual
    }

    
 
    function obtenerDatosIntermensualActual(){
      
      intermensual_actual = []
      {% for data in intermensual  %}
          {
            intermensual_actual.push({{data.mes_año_anterior}}) 
            console.log({{data.mes_año_anterior}})
          }
         

      {% endfor %}
      
      return intermensual_actual
    }

    function obtenerDatosInteranualFiltro(){
      interanual = []
        
          {% for data in interanual_filtro  %}
              {
                interanual.push({{data.mes_anterior}}) 
              }

              {% for mes in meses  %}
                {
                  {% if data.mes == mes.id %}
                    {
                      meses_filtro.push('{{mes.mes}}')
                    }  
                
                  {% endif %}

                }

                
                
              {% endfor %}

                
               
    
          {% endfor %}
            
      return interanual
    }

    function obtenerDatosIntermensualFiltro(){
      
      intermensual = []
      {% for data in intermensual_filtro  %}
          {
            intermensual.push({{data.mes_año_anterior}}) 
            console.log({{data.mes_año_anterior}})
          }
         

      {% endfor %}
      
      return intermensual
    }

  ipc()
</script>
{% endblock container %}