
<div class="sidebar">
    <div class="sidebar-menu">
        <div class="logo">Observatorio<br> Economico<br>de Formosa</div>
        <nav>
            <ul>
               
                <a  href="{% url 'panel' %}">
                    <li><i class="fas fa-bars"></i> Inicio</li>
                </a>
                <a  href="{% url 'asalariado-panel' %}">
                    <li><i class="fas fa-briefcase"></i> Empleos</li>
                </a>
                <a  href="#">
                    <li><i class="fas fa-shopping-cart"></i> Supermercado</li>
                </a>

                <a  href="#">
                    <li><i class="fas fa-car"></i> Autos</li>
                </a>

                <a  href="#">
                    <li><i class="fas fa-motorcycle"></i> Motos</li>
                </a>

               

                <a  href="#">
                    <li><i class="fas fa-dollar-sign"></i> Dgr</li>
                </a>
              
            </ul>
        </nav>
    </div>
</div>