
{% extends 'base.html' %}
{% load static %}
{% block head_content %}

  
{% endblock head_content %}

{% block container %}

   
    <div class="content">
      <div class="content-descripcion">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Culpa fugiat omnis excepturi nihil, laboriosam illo porro, 
        ipsum totam libero alias et deleniti, facilis tenetur praesentium dolore ex reiciendis doloremque reprehenderit. Repudiandae dolore pariatur, neque quas est voluptate eligendi nostrum in minima voluptas aliquid magnam velit ea vero molestias aut ipsum aspernatur quisquam? Nobis distinctio delectus quae fugiat quisquam, aliquid inventore officiis sapiente voluptatem itaque tenetur similique ex et consectetur perspiciatis laudantium quibusdam dolor rerum amet nostrum hic maxime praesentium dolorem? Voluptate aperiam dolor facere, vitae aut, sunt tempora excepturi, recusandae dolorem neque consectetur quaerat molestias nobis ipsa architecto sed nulla.
      </div>
      <div class="card-content">
        <div class="card">
          <div class="circle-icon">
            <i class="fas fa-shopping-cart"></i>
          </div>
          <div class="div-acceso">
           Evolucion ventas
          </div>
          <div class="div-acceso">
           Ventas sin inflacion
          </div>
        </div>
        <div class="card">
          <div class="circle-icon">
            <i style="left:0.9em;" class="fas fa-car"></i>
          </div>
          <div class="div-acceso">
            Venta autos
           </div>
           <div class="div-acceso">
            Transferencia autos usados
           </div>
        </div>
        <div class="card">
          <div class="circle-icon">
            <i class="fas fa-motorcycle"></i>
          </div>
          <div class="div-acceso">
            Venta motos
           </div>
           <div class="div-acceso">
            Transferencia motos usadas
           </div>
        </div>
        <div class="card">
          <div class="circle-icon">
            <i style="left:0.9em;" class="fas fa-briefcase"></i>
          </div>
          <div class="div-acceso">
            Asalariados sector privado
           </div>
           <div class="div-acceso">
            Remuneracion sector privado
           </div>
        </div>
        <div class="card">
          <div class="circle-icon">
            <i style="left:1.1em;" class="fas fa-dollar-sign"></i>
          </div>
          <div class="div-acceso">
            Base imponible
           </div>
           <div class="div-acceso">
            Recaudacion
           </div>
        </div>
       

      </div>
      <div class="footer">
        <img src="/static/img/logo.png" alt="" srcset="">
        <button class="btn-informe"><i class="fa fa-download" aria-hidden="true"></i> Descargar informes</button>

      </div>
    </div>

{% endblock container %}
